---
import BaseHead from "@/components/BaseHead.astro";
---

<!doctype html>
<html lang="es">
  <BaseHead />
  <body>
    <div>
        <main>
            <!-- Hacer referencia lo que me manden a mi layout -->
            <slot />
        </main>
        <footer></footer>
    </div>
  </body>
</html>
